.container-detail {
    background-color: #f5f5fa;
    padding: 20px;
}




.container-product {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 590px;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.custom-image {
    width: 440px;
    height: 100%;
    display: flex;
    justify-content: center;
    border-right: 1px solid rgb(215, 210, 210);

    img {
        padding: 10px 20px 20px 20px;
        width: auto;
        min-width: 440px;
        height: 100%;
        object-fit: cover;
    }

}

.infor-book {
    width: 780px;
    height: 100%;
    padding: 10px;

    h4 {
        font-weight: 300;
        width: 100%;
    }

}

.container-contentbook {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
}

.left {
    width: 491px;
    height: 100%;
}

.right {
    width: 269px;
}



.container-price {
    background-color: rgb(250 250 250);
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 4px;
}

.price-product {
    display: flex;
    align-items: flex-end;
    color: rgb(255, 66, 78);

    h2 {
        margin-right: 10px;
    }

    h6 {
        color: rgb(128, 128, 137);
        text-decoration: line-through;
        margin-right: 10px;
    }
}



.container-discount {
    display: flex;
    align-items: center;

    img {
        height: 16px;
        margin: 5px;
    }
}

.discount {
    border-radius: 4px;
    background-color: rgb(242, 240, 254);
    display: flex;
    width: fit-content;

    -webkit-box-align: center;
    align-items: center;
    padding: 4px 8px;
    border: 0.5px solid rgb(198, 188, 248);
    margin: 0px;
    cursor: pointer;

}

.location {
    margin: 10px 0;
    padding: 10px 0;
    border-top: 1px solid rgb(215, 210, 210);
}

.ship {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid rgb(215, 210, 210);
    padding: 10px;
    margin-bottom: 10px;

    img {
        width: 20px;
        height: 20px;
    }

    span {
        color: rgb(0, 171, 86);
        font-weight: 500;
        height: 20px;
        border-left: 2px solid rgb(215, 210, 210);
        font-size: 14px;
        margin-left: 5px;
        padding-left: 5px;
    }
}


.wrap-btnchangquantity {
    display: flex;
    margin-top: 10px;
    border-radius: 5px;
    width: 100px;
    border: 1px solid rgb(215, 210, 210);

    height: 30px;
}

.minus {
    height: 100%;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-left: 1px solid rgb(215, 210, 210);
    border-right: 1px solid rgb(215, 210, 210);

    &:active {
        background-color: #f5f5fa;
    }

}

.number {
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btnbuy {
    height: 48px;
    margin-top: 20px;

    button {
        border: 1px solid orange;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        background-color: rgb(255, 57, 69);
        color: white;
        border-radius: 5px;
        font-size: 20px;

        &:active {
            background-color: rgb(247, 43, 57);

        }
    }
}



//     @keyframes SlideInLeft {
//         from {
//             opacity: 0;
//             transform: translate(0, 0);
//         }

//         to {
//             opacity: 1;
//             transform: translate(100%, 6100%);
//         }
// }
.animation-buyProduct {
    animation: SlideInDiagonal ease-in 1s ;
    animation-fill-mode: forwards;
}

@keyframes SlideInDiagonal {
    from {
        transform: translateX(0) translateY(0);
      }
    
      to {
        transform:translateY(-100vh) translateX(150%) ;
      }
}

.hideAnimation{
    display: none;
}

//store

.right {
    margin-left: 10px;
    padding: 10px;
    width: 240px;
    height: 270px;
    border-radius: 5px;
    border: 1px solid #f5f5fa;

}




.wrap-inforstore {
    display: flex;
    margin-bottom: 20px;

    div img {
        width: 70px;
    }
}

.avt {
    height: 47px;
    border-radius: 50%;
    margin-right: 10px;
}

.wrap-shop {
    display: flex;
}

.shop {
    display: flex;
    margin-right: 10px;

    span {
        margin-left: 5px;
    }

    align-items: center;
    color:rgb(13 92 182);
    border-radius: 5px;
    justify-content: space-around;
    padding: 10px;
    height: 40px;
    width: 130px;
    font-size: 14px;
    border: 1px solid rgb(13 92 182);
    cursor: pointer;

}


.folowed {
    background-color: rgb(13 92 182);
    color: #f5f5fa;
}




.container-contents {
    display: flex;
    justify-content: space-around;
}

.wrap-infordetailshop {
    height: 120px;
    width: 80px;
    font-size: 13px;

    .protect {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 40px;
        }
    }

    .content {
        text-align: center;
    }
}


//mini product

.wrap-miniproducts {
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 340px;
    overflow-x: scroll;
    margin: 20px 0;
    background-color: white;
    border: 1px solid rgb(157, 157, 183);
    border-radius: 20px;
}



.wrap-miniproducts *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

.wrap-miniproducts *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, .08);
}

.wrap-miniproducts *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}



@media only screen and (max-width: 1250px) {
   
    .right{
        display: none;
        background-color: aqua;
    }
    
}

@media only screen and (max-width: 1025px) {
   
    .custom-image{
        display: none;
    }
    
}